*{
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    margin: 0;
    font-family: sans-serif;
    background-image: url("../images/background.png");
    }
.container{
    background-color:blanchedalmond;
}
header{
    background-color:tan;
    color:black;
    padding: 2rem;
}
ul{
font-size: 1rem;
color:rgb(163, 137, 106)
}
h1{
font-size: 2rem;
}
h2 {
font-size: 1.5rem;
color:black;
}
h3{
font-size: 1.25rem;
color:tan;
}
p {
font-size:1rem;
color:rgb(163, 137, 106);
}
.circle{
border-radius: 50%;
border: 5px solid tan;
}
a:link, a:visited {
   color:rgb(163, 137, 106);
   text-decoration: none;
}
a:hover {
    color:black;
    text-decoration: underline;
 }

/*** Layout ***/
.container{
    background-color:blanchedalmond;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12,1fr);
    margin: 0 auto;
    width: min(95%, 75rem);
}
.container > * {
    grid-column: span 12;
}

/*** Desktop Layout ***/
@media screen and (min-width: 40rem) {
    .col-span-8{
        grid-column: span 8;
    }
    .col-span-4{
        grid-column: span 4;
    }
}

/*** Components ***/
.button:link, .button:visited{
    color:black;
    background-color: tan;
    text-align: center;
    text-decoration: none;
    padding: 1rem 1.75rem;
    border-radius: .25rem;
    box-shadow: 0 .125rem .5rem rgba(0, 0, 0, .15);
    display: inline-block;
    margin: 0 .25rem .25rem 0;
    transition: background-color 0.5s ease;
}
.button:hover{
    background-color: rgb(163, 137, 106);
    color:blanchedalmond;
}